<li class="card">
  <div class="headline">
    <h1>{{@headline}}</h1>
  </div>
  <div class="sub-headline">
      <h2>{{@sub-headline}}</h2>
  </div>
  <div class="header-image">
      <img src="https://logos-download.com/wp-content/uploads/2020/06/Ember.js_Logo_full.png">
  </div>
</li>
{{yield}}