<li class="card">
  <div class="header-image">
     <img src={{this.imageUrl}}>
  </div>
  <div class="headline">
    <h5>{{this.headLine}}</h5>
  </div>
  <div class="sub-headline">
    <h6>{{this.subHeadLine}}</h6>
  </div>
</li>
{{yield}}