.navbar{
  widht: 100%;
  background-color: #BFBFBF;
  height: 30px;
  text-align: center;

}
img {
  width: 100%;
  height: 202px;
  /*width: auto;*/
  /*height : auto;*/
  /*max-width: 200px;*/
  /*max-height: 100px*/
}
.numbers{
  border: 1px solid #BFBFBF;
  /*margin: 10px;*/
  padding: 10px;
  cursor: pointer;
  background-color: white;
}

.arrow{
  border: 1px solid #BFBFBF;
  /*margin: 10px;*/
  padding: 10px;
  cursor: pointer;
  background-color: lightgrey;
}
.arrow-disabled {
  border: 1px solid #BFBFBF;
  color: #BFBFBF;
  /*margin: 10px;*/
  padding: 10px;
  /*cursor: pointer;*/
  background-color: lightgrey;
}
.card {
  list-style: none;
  width: 350px;
  height: 350px;
  border : 1px solid #BFBFBF;
  /*padding : 10px;*/
  margin : 10px;
  background-color: white;
  /*display: flex;*/
  /*justify-content: center;*/
  /*flex-direction: column;*/
  /*align-items: center;*/
  align-text : center;
  /*position: relative;*/
  /*box-shadow: 5px 10px 5px #aaaa;*/
}
.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
/*to check if mobile*/
@media only screen and (max-width: 600px) {
  h5 {color: red;}
  .container {
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .show-desktop{
    display: none;
  }

}

@media only screen and (min-width: 600px){
  .show-mobile-list{
    display:none;
  }
}
.pagination{
  display:flex;
  justify-content: center;
  font-size: 20px;

}

.selected{
  border: 2px solid greed;
  font-weight : bold;
  /*font-size: 50px*/
}

h5{
  padding : 0px 0px 0px 10px;
  align-text : center;
}


h6{
  padding : 0px 0px 0px 10px;
  align-text : center;
}
